* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
h2,
h3 {
  margin-bottom: 2rem;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 33, 33);
}
form {
  border: 1px solid rgb(0, 153, 219, 0.9);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-radius: 20px;
}
i {
  font-size: 4rem;
  margin-bottom: 0.8rem;
  color: white;
}
fieldset {
  margin-bottom: 1rem;
  width: 70%;
  border: none;
}
.text {
  width: 100%;
  padding: 0.6rem 0rem 0.6rem 0.4rem;
  font-size: 1rem;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(0, 153, 219, 0.9);
  outline: none;
  background-color: transparent;
}

.term {
  font-size: 0.84rem;
}
/* .text::placeholder {
  color: rgb(0, 153, 219, 0.9);
} */

button {
  width: 70%;
  padding: 0.4rem 0;
  background-color: rgb(0, 153, 219, 0.9);
  border: none;
  font-size: 1.2rem;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
}

span a {
  color: rgb(0, 153, 219, 0.9);
  text-decoration: none;
  margin-top: 1rem;
}

.check {
  display: flex;
  justify-content: center;
  gap: 5px;
}

div {
  border: 1px solid rgb(0, 153, 219, 0.9);
  padding: 8px 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 0.2rem rgb(0, 153, 219, 0.9);
  margin-bottom: 10px;
}
